<div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">First Name:</label>
      <input type="text" id="name" [(ngModel)]="formData.firstName" name="firstName">
    </div>
    <div>
      <label for="name">Last Name:</label>
      <input type="text" id="name" [(ngModel)]="formData.lastName" name="lastName">
    </div>
    <div>
      <label for="email">Email Address:</label>
      <input type="email" id="email" [(ngModel)]="formData.emailAddress" name="emailAddress">
    </div>
    <div>
      <label for="email">Phone Number:</label>
      <input type="email" id="number" [(ngModel)]="formData.phoneNumber" name="phoneNumber">
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea id="message" [(ngModel)]="formData.message" name="message"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

  
